
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0px;
    padding-right: 15px;
    margin-left: 15px;
    padding: 0px 0;
}

body{
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: auto;
    padding: 0;
    color: #000;
    font-size: 13px;
    height: 100%;
    /*width: 1000px;*/
}

.conteiner{
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
    height: 100%;
    width: 1000px;
}

.header{
    /*background-color: #FFFFFF;*/
}

.search_div{
    margin:0px;
    text-align: right;
    background-color: #dbe4f6;
    width: 100%;
    height: 35px;
    vertical-align: middle;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;

}

.search_form{
    float:right;
    width: 100%;
    text-align: right;
}

.search_string{
    width: 715px;
    float: left;
    padding: 3px;
    margin:7px;
}

.middle {
    background-color: #FFFFFF;
    width: 100%;
    height: 1000px;
}

.categories{
    background-color: #FFFFFF;
    float: left;
    width: 20%;
    padding-bottom: 10px;
    margin: 10px;

}

.categories a.selected_link{
    color:red;
}

.content{
    /*background-color: #FFFFFF;*/
    float: left;
    padding: 10px 0;
    width: 78%;
}

.book_info{
    width: 200px;
    float: left;
    font-size: 12px;
    padding-left: 10px;
}

.book_title{
    height: 50px;
    margin-top: 20px;
    /*float:left;*/
}

.book_title p{
    color:#378de5 ;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.book_details{
    float:left;
    margin-top: 10px;
}

.letters{
    float:left;
    height: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.letter{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin:5px;
    color:#4d6cd3;
}

.letters a{
    margin: 3px;
    font-size: 16px;
}

.letters a.selected_letter{
    color:red;
}

.list_of_categories a:hover, a:active, a:focus {
    background-color: #FFFFFF;
    color: #999;
}

.list_of_categories  a, a:visited{
    /*color: #000;*/
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    display: block;
}


.search_image{
    float: left;
    margin-left: 10px;
}

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    height: 200%;
}

.logo{
    width: 839px;
    height: 150px;
    text-align: left;
    /*padding: 20px;*/
    float: left;
}

/*.welcome b,a{*/
    /*margin-left: 10px;*/
    /*color: #000000;*/
    /*text-align: left;*/
/*}*/

.welcome{
    width: 159px;
    height: 150px;
    float: left;
}

.welcome a{
    margin-right: 15px;
    font-size: 10px;
}

.search_menu{
    margin-top: 9px;
    margin-right: 5px;
}

.search_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}.search_button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
     background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
     background-color:#378de5;
     cursor:pointer;
 }.search_button:active {
      position:relative;
      top:1px;
  }

.col1{
    vertical-align: top;
    width: 100px;
}

.col2{
    vertical-align: top;
    width: 240px;
}

.col2 a{
    font-weight: bold;
    color:#378de5;
    font-size: 15px;
}

.col2 a.save_link{
    color: #3333ff;
    font-size: 11px;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: bold
}

.col2 p{
    font-size: 11px;
}

.col3{
    vertical-align: top;
    width: 330px;
}

.col4{
    vertical-align: top;
    width: 20px;
}

.book_details p{
    font-size: 11px;
}

.pager a{
    margin-left: 5px;
    margin-top: 50px;
}

.pager{
    margin-left: 15px;
    width: 100%;
    float:left;
}

.pager .selected_page{
    color:red;
}

#loading_wrapper{
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    display: none;
    margin-top: 20%;
}

#loading_wrapper p{
    background-color: #fde88e;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    font-weight: bold;
}

.nojs{
    display: none;
    text-align: center;
}

.locales{
    text-align: right;
}

.locales a{
    margin-right: 15px;
    font-size: 10px;
}

.name_edit{
    width: 100%;
}

.publisher_edit{
    width: 100%;
}

.date_edit{
    width: 100%;
}

.pages_edit{
    width: 100%;
}

.descr_edit{
    width: 100%;
    height: 200px;
}