<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <h:outputStylesheet library="css" name="style_main.css"></h:outputStylesheet>
    <h:outputScript library="js" name="library.js" target="head"></h:outputScript>
</h:head>

<h:body>

</h:body>

<ui:composition>

    <div>
        <div class="logo">
            <h:graphicImage library="images" name="lib_logo.jpg"></h:graphicImage>
        </div>

        <div class="welcome">

            <h:form>
                <p>
                <h:commandLink  action="#{localeChanger.changeLocale('en_EN')}">
                    <h:graphicImage library="images" name="eng.png" title="#{msg.language_english}"></h:graphicImage>
                </h:commandLink>

                <h:commandLink action="#{localeChanger.changeLocale('ru_RU')}">
                    <h:graphicImage library="images" name="rus.png" title="#{msg.language_russian}"></h:graphicImage>
                </h:commandLink>
                </p>
            </h:form>

            <b>#{msg.welcome_welcome}#{user.username}</b>
            <!--<h5>#{msg.exit}</h5>-->
            <h:form>
                <h:commandLink value="#{msg.exit}" action="#{loginController.logoff()}"></h:commandLink>
            </h:form>
        </div>
    </div>

    <div class="search_div">

        <h:form styleClass="search_form">
            <h:graphicImage library="images" name="search.jpg" styleClass="search_image"></h:graphicImage>
            <h:inputText id="search_string" styleClass="search_string" value="#{bookListController.searchString}"/>
            <h:commandButton value="#{msg.search_button}" styleClass="search_button" action="#{bookListController.fillBooksBySearchString}">
                <f:ajax onevent="showProgress" execute="@form" event="click" render=":booksForm:booksList search_string @form :lettersForm :list_of_categories :lettersForm :pages2 :booksCount" listener="#{bookListController.fillBooksBySearchString}"></f:ajax>
            </h:commandButton>

            <h:selectOneMenu value="#{bookListController.searchType}" styleClass="search_menu" valueChangeListener="#{bookListController.searchTypeChanged}">
                <f:selectItems value="#{searchTypeController.searchList}" />
                <f:ajax event="change"/>
            </h:selectOneMenu>
        </h:form>

    </div>

    <div class="letters">

        <h:form id="lettersForm">

            <ui:repeat value="#{bookListController.letterListChar}" var="lettervar">
                <!--<a href="#">#{letter}</a>-->
                <h:commandLink value="#{lettervar}" styleClass="#{lettervar == bookListController.selectedLetter?'selected_letter':''} letter">
                    <f:param name="letter_search" value="#{lettervar}"></f:param>
                    <f:ajax onevent="showProgress" event="click" render=":booksForm:booksList @form :booksForm:list_of_categories :lettersForm :pages2 :booksCount" listener="#{bookListController.fillBooksByLetter}"></f:ajax>
                </h:commandLink>
            </ui:repeat>

        </h:form>

    </div>

</ui:composition>
<!--<f:view>-->
    <!--<h:outputLabel value="Hello, world"/>-->
<!--</f:view>-->
</html>
