<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Title</title>
    <h:outputStylesheet library="css" name="style_main.css"></h:outputStylesheet>
</h:head>

<h:body>

    <ui:composition>

        <h4>#{msg.genres}</h4>

        <h:form id="list_of_categories" styleClass="list_of_categories">

            <ui:repeat value="#{genreController.genreList}" var="curkateg">
                <h:commandLink value="#{curkateg.name}" styleClass="#{curkateg.id == bookListController.selectedGenreId ? 'selected_link':'' }">
                    <f:param name="genre_id" value="#{curkateg.id}"></f:param>
                    <f:ajax onevent="showProgress" event="click" render=":booksForm:booksList @form :lettersForm :pages2 :booksCount" listener="#{bookListController.fillBooksByGenre}"></f:ajax>

                </h:commandLink>
            </ui:repeat>

        </h:form>

        <!--<h:dataTable value="${genreController.genreList}" var="genr" styleClass="list_of_categories">-->
            <!--<h:column>-->

                <!--<h:link value="#{genr.name}">-->
                    <!--<f:param name="genre_id" value="#{genr.id}"></f:param>-->
                    <!--<f:param name="param_test" value="test_string"></f:param>-->
                <!--</h:link>-->

                <!--&lt;!&ndash;<a>#{genr.name}</a>&ndash;&gt;-->
            <!--</h:column>-->
        <!--</h:dataTable>-->

    </ui:composition>
    
</h:body>

</html>