<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xml:lang="en" lang="en">

<f:view locale="#{localeChanger.curLocale}">
<h:head>
    <title><ui:insert name="title"></ui:insert></title>
    <h:outputStylesheet library="css" name="style_main.css"></h:outputStylesheet>
    <h:outputScript library="js" name="library.js" target="head"></h:outputScript>
</h:head>

<h:body>

    <div id="loading_wrapper">
        <!--<p>#{msg.loading}...</p>-->
        <h:graphicImage library="images" name="loading.gif" styleClass="loading"></h:graphicImage>
    </div>

    <div class="conteiner">

        <div class="header">
            <ui:insert name="header">
                <ui:include src="/templates/header.xhtml"></ui:include>
            </ui:insert>
        </div>

        <div class="middle">

            <div class="categories">
                <ui:insert name="categories">
                    <ui:include src="/templates/left_menu.xhtml"></ui:include>
                </ui:insert>
            </div>

            <div class="content">

                <!--<div class="pager">-->
                    <!--<ui:insert name="paginator"/>-->
                <!--</div>-->

                <ui:insert name="content">
                    <ui:include src="/templates/content.xhtml"></ui:include>
                </ui:insert>

                <div class="pager">
                    <h:panelGroup id="pages2"><ui:insert name="paginator"/></h:panelGroup>
                </div>

            </div>

        </div>

        <div class="footer">
            <ui:insert name="footer">
                <ui:include src="/templates/footer.xhtml"></ui:include>
            </ui:insert>
        </div>

    </div>

</h:body>

</f:view>

</html>